@font-face {
    font-family: 'AppleSDGothic';
    src: url('../styles/Assets/AppleSDGothicNeoSB.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'AppleSDGothic' !important;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}